.cut-iconn,
.menuu {
  position: relative;
}
.menuu {
  line-height: 140%;
  font-weight: 500;
}
.cut-iconn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.menu-parentt {
  align-self: stretch;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard-iconn {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard-parentt,
.frame-wrapperr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.dashboard-parentt {
  gap: var(--gap-5xs);
}
.frame-wrapperr {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-5);
  height: 50px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.note-alt-iconn {
  position: relative;
  width: 20px;
  height: 20px;
}
.assessmentt {
  position: relative;
  line-height: 140%;
  font-weight: 600;
}
.note-alt-parentt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  z-index: 0;
}
.frame-childd {
  position: absolute;
  margin: 0 !important;
  top: 5px;
  left: 230px;
  border-radius: 10px;
  background-color: var(--accent-new-red);
  width: 7px;
  height: 7px;
  opacity: 0;
  z-index: 1;
}
.frame-containerr,
.frame-groupp {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frame-containerr {
  border-radius: var(--br-5xs);
  background-color: #e5f1fc;
  border: 1px solid var(--secondary-1);
  box-sizing: border-box;
  height: 50px;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  position: relative;
  gap: var(--gap-3xs);
  color: var(--secondary-1);
}
.frame-groupp {
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.frame-itemm {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.adminn {
  position: relative;
  font-weight: 500;
}
.admin-wrapperr,
.frame-parentt1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.admin-wrapperr {
  border-radius: 22px;
  background-color: var(--accent-red-light);
  border: 1px solid var(--accent-new-red);
  height: 18px;
  padding: 6px 8px;
  justify-content: flex-start;
  font-size: 10px;
  color: var(--accent-new-red);
}
.frame-parentt1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--secondary-5);
  height: 50px;
  padding: var(--padding-3xs);
  justify-content: space-between;
}
.frame-parentt,
.frame-wrapperr1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-wrapperr1 {
  align-self: stretch;
}
/* .frame-parentt {
  position: fixed;
  background-color: var(--secondary-5);
  width: 100%;
  height: 1074px;
  overflow: hidden;
  padding: 40px 20px var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--primary-100);
  font-family: var(--font-inter);
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  transition: left 0.3s ease;
} */
.frame-parentt {
  position: relative;
  background-color: var(--secondary-5);
  width: 100%;
  height: 1074px;
  overflow: hidden;
  padding: 40px 20px var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--primary-100);
  font-family: var(--font-inter);
}
